.Buttons-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
    flex-direction: column;
}

.Buttons-parent p {
    color: rgb(19, 68, 97);
    font-weight: 600;
    font-size: 21px;
}

.btns {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 650px;
}

.btns button {
    padding: 15px;
    border-radius: 7px;
    width: 270px;
}

.btn1 {
    background-color: rgb(19, 68, 97);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn2 {
    border: 2px solid goldenrod;
    cursor: pointer;
    color: goldenrod;
    transition: all 0.3s ease-in-out;
}

.btn1:hover {
    opacity: 0.9;
}

.btn2:hover {
    background-color: goldenrod;
    color: white;
}

.btn1:active {
    opacity: 0.8;
}

.btn2:active {
    opacity: 0.8;
}