.main_form_div {
    display: flex;
    flex-wrap: wrap;
}

.upload_heading {
    border-top: rgba(19, 68, 97, 0.6) 1px solid;
    padding-top: 20px;
    width: 35%;
    font-size: 16px;
    margin: -10px 0px 18px;
    font-weight: bold;
}