.progressBarContainer {
    height: 20px;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
}

.progressBarIcon {
    margin-left: -40px;
    color: #FFA500;
    font-size: 30px;
    transform: translateY(-14px);

}

.progressBarContainer {
    height: 5px;
    width: 85%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px 50px 50px 60px;
    display: flex;
    align-items: center;
}

.progressBarLabel {
    padding: 5px;
    color: black;
    font-weight: bold;
}

.progressBarText {
    margin-left: 25px;
    color: #e0e0de;
    font-size: 18px;
    transform: translateY(-18px);
}