.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}


.custom-select-wrapper:after {
    content: '';
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
    pointer-events: none;
}

.select_name {
    width: 100%;
    font-size: 14px;
    color: rgb(19, 68, 97);
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 10px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: rgb(19, 68, 97);
    cursor: pointer;
}

option {
    color: rgb(19, 68, 97);
    font-weight: bold;
}