.select_name {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(19, 68, 97);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    margin: 20px 0;
}